h1{
	font-family: "Times New Roman", Times, serif;
  padding-left: 30%;
}

ul {
  list-style-type: none;
  width: 500px;
}

.assignments {
   font-weight: bold;
   margin: 0;
   padding: 5px 5px 5px 5px;
   border-bottom: 1px solid black;
   font-size:1.5em;
}
.assignments:hover {
   background-color: #ddd; 
}

a:link {
    text-decoration: none;
}

body{
	background-color: #C2D6D6;
	padding-left: 25%;
	padding-right: 25%;
}

.details{
	font-size:1.3em;
}

.project{
	padding-bottom: 20px;
	padding-top: 20px;
}
button {
  background-color:#44c767;
  border-radius:30px;
  border:1px solid #18ab29;
  color:white;
  font-size:15px;
  padding:15px 30px;
  text-decoration:none;
}
button:hover {
  background-color:#5cbf2a;
}

