<!doctype html>
<html>
	<head>
		<script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/init.js') }}"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='css/skel.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style-xlarge.css') }}" />
	</head>
	<script>
	</script>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Cascada</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="generic.html">Generic</a></li>
						<li><a href="/message">Messages</a></li>
						<li><a href="/logout" class="button special">Log Out</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Discussion Board</h2>
					</header>

					<ul style="width: 90%; list-style-type: none;">
						<form method='POST'>
							<h3>Insert new comment:</h3>
							<input type="submit"value="Reply" style="float: right">
							<div style="overflow: hidden; padding-right: 1em;">
							   <input id="newcomment" name="newcomment" type="text" style="width: 100%; height:25px;">
							   <input type="hidden" name="parentid" value="-1">
							   <input type="hidden" name="submitType" value="add">
							</div>​
						</form>
						{% for post in discussionList %}
						<div style="padding-top:10px; padding-bottom:10px;">
							<form method='POST'>
								<div style="margin-left:{{post.getIndent()}}px;">
									<li>{{ post.getPostText() }}</li>
								</div>
								<div style="margin-left:{{post.getIndent()}}px; font-style:italic;">
									<li>Posted by: {{ post.getUser() }}</li>
								</div>
								<div style="overflow: hidden; padding-right: 1em; margin-left:{{post.getIndent()}}px">
								   <input id="newcomment" name="newcomment" type="text" style="width: 100%; height: 25px;">
								   <input type="hidden" name="parentid" value={{post.getPostId()}}>
								   <input type="hidden" name="submitType" value="add">
								   <br>
								</div>​
								<input type="submit" value="Reply" style="float: right;">
							</form>
							{% if accountType == "Professor" %}
							<form method='POST'>
								<input type="hidden" name="submitType" value="delete">
								<input type="hidden" name="postid" value={{post.getPostId()}}>
								<input type="submit" value="Delete" style="background-color: red; float: right">
							</form>
							{% endif %}
						</div>
						{% endfor %}
					</ul>

				</div>
			</section>

	</body>
		
		
</html>