<!doctype html>
<html>
	<head>
		<script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/init.js') }}"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='css/skel.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style-xlarge.css') }}" />
	</head>
	<script>
	</script>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Cascada</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="generic.html">Generic</a></li>
						<li><a href="elements.html">Elements</a></li>
						<li><a href="#" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major">
						<h2>Welcome!</h2>
					</header>
					Class Name:<br>
					<h3>{{currClass[1]}}</h3>
					<br>
					Course Number:<br>
					<h3>{{currClass[2]}}</h3>
					<br>
					Department Name:<br>
					<h3>{{currClass[3]}}</h3>
					<br>
					Course Description:<br>
					<h3>{{currClass[4]}}</h3>
					<br><br>

					<br><br>
					<form action="/professorPage" method="post">
					  Assignment Name:<br>
					  <input style="width: 30%;" type="text" name="className">
					  <br>
					  Due date:<br>
					  <input style="width: 15%;" type="date" name="courseNumber">
					  <br><br>
					  Assignment File:<br>
					  <input style="width:25%;" type="file" name="departmentName">
					  <br><br>
					  Assignment Description:<br>
					  <input type="text" name="courseDescription">
					  <br><br>
					  <input type="submit" value="Submit">
					</form>

				</div>
			</section>

	</body>
		
		
</html>