<!doctype html>
<html>
	<head>
		<script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/init.js') }}"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='css/skel.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style-xlarge.css') }}" />
		<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
	</head>
	<script>
	$(document).ready(function(){
		$( "#detailButton" ).click(function() {
			if ($("#detailButton").text() == 'Show Details'){
			  $( "#details" ).show( "slow" );
			  $( "#detailButton" ).text( "Hide Details");
			}
			else{
			  $( "#details" ).hide( "slow" );
			  $( "#detailButton" ).text( "Show Details");
			}
		});
		$("#nameHead").hover(function(){
			var num = Math.floor(Math.random() * 5) + 1;
			if (num == 0)
	        	$("#nameHead").css("color", "red");
	        else if (num == 1)
	        	$("#nameHead").css("color", "orange");
	        else if (num == 2)
	        	$("#nameHead").css("color", "yellow");
	        else if (num == 3)
	        	$("#nameHead").css("color", "green");
	        else if (num == 4)
	        	$("#nameHead").css("color", "blue");
	        else
	        	$("#nameHead").css("color", "purple");
    	});
	});
	</script>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Cascada</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/gradebook">Gradebook</a></li>
						<li><a href="/message">Messages</a></li>
						<li><a href="/logout" class="button special">Log Out</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="major">
						<h2 id="nameHead">Welcome {{name}}!</h2>
					</header>
					<div id="details">
						Class Name:<br>
						<h3>{{currClass[1]}}</h3>
						<br>
						Course Number:<br>
						<h3>{{currClass[2]}}</h3>
						<br>
						Department Name:<br>
						<h3>{{currClass[3]}}</h3>
						<br>
						Course Description:<br>
						<h3>{{currClass[4]}}</h3>
						<br><br>
					</div>
					<button id="detailButton">Hide Details</button>
					<header>
						<h2>Class Assignments:</h2>
					</header>
					<table>
						<th style="font-weight: bold;">
							<td style="font-weight: bold;">Task Name</td>
							<td style="font-weight: bold;">Distribution</td>
							<td style="font-weight: bold;">Due Date</td>
							<td style="font-weight: bold;">File Link</td>
							<!-- <td style="font-weight: bold;">Status</td> -->
							<td style="font-weight: bold;">Progress</td>
							<td style="font-weight: bold;">Extend Deadline</td>
							<td></td>
						</th>
						{% for row in currAssignments.keys() %}
   							<tr>
   								<td> <input type="checkbox"> </td>
   								<td> <a href="/Assignment/{{row[0]}}"> {{ row[0] }} </a></td>
   								<td>
   									<form action="/barchart" method="POST">
   										<input type="submit" value="View Distribution">
   										<input type="hidden" name="assignmentName" value="{{row[0]}}">
   									</form>
   								</td>
   								<td>{{ row[3] }}</td>
        						{% if row[5] %}
        							<td><a href={{ row[5] }}>Link</a></td>      						
        						{% else %}
        							<td>{{ row[5] }}</td>
        						{% endif %}
        						<!-- <td> {{ row[2] }} </td> -->
        						<td> <progress value="{{currAssignments[row]}}" max="100"> </progress></td>
        						<form action="/professorPage" method="post">
	        						<td><input type="date" name="dueDate"></td>
	        						<td>
        								<input type="submit" value="Extend">
        								<input type="hidden" name="extendForm" value="extendForm" >
        								<input type="hidden" name="assignmentName" value="{{row[0]}}">
        								<input type="hidden" name="courseNumber" value="{{row[1]}}">
        								<input type="hidden" name="departmentName" value="{{row[2]}}">
	        						</td>
        						</form>
   							</tr>
						{% endfor %}
					</table>

					<form action="/classAverages" method="POST" style="margin:2em 0 2em 15%;">
						<input type="submit" value="View Class Averages">
						<input type="hidden" name="courseNumber" value="{{currClass[2]}}">
						<input type="hidden" name="departmentName" value="{{currClass[3]}}">
					</form>

					<br><br>
					<form action="/professorPage" method="post">
					  Assignment Name:<br>
					  <input style="width: 25%;" type="text" name="assignmentName">
					  <br>
					  Due date:<br>
					  <input style="width: 15%;" type="date" name="dueDates">
					  <br><br>
					  Assignment File:<br>
					  <input style="width: 25%;" type="file" name="inputFile">
					  <br><br>
					  Assignment Description:<br>
					  <input type="text" name="assignmentDescription">
					  <br><br>
					  <input type="submit" value="Submit">
					  <input type="hidden" name="taskForm" value="taskForm" >
					</form>
				</div>
			</section>

	</body>
		
		
</html>