<!doctype html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheets/homestyle.css') }}" />
		<script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
		<h1>My Projects</h1>
	</head>
	<script>
	$(document).ready(function(){
	    $("button").click(function(){
	        $("ul").fadeIn("slow");
	    });
	});
	</script>

	<body>
		LOGIN:
		<br><br>
		<form action="/" method="post">
		  Email Address:<br>
		  <input type="text" name="firstname">
		  <br>
		  Password:<br>
		  <input type="text" name="lastname">
		  <br><br>
		  <input type="submit" value="Submit">
		</form>
		<br>
		<br>
		SIGN UP:
		<form action="/" method="post">
		  <br>
		  Type of User:
		  <br>
		  <input type="radio" name="professor" value="professor" checked>Professor
  		  <br>
  		  <input type="radio" name="student" value="student">Student
  		  <br><br>
		  Email Address:<br>
		  <input type="text" name="firstname">
		  <br>
		  Password:<br>
		  <input type="text" name="lastname">
		  <br>
		  Confirm Password:<br>
		  <input type="text" name="lastname">
		  <br><br>
		  <input type="submit" value="Submit">
		</form>
	</body>
</html>