<!doctype html>
<html>
	<head>
		<script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/init.js') }}"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='css/skel.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style-xlarge.css') }}" />
	</head>
	<script>
	</script>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Cascada</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">

					<header class="major">
						<h2>Login</h2>
					</header>

					<br><br>
					<form action="/" method="post">
					  Email Address:<br>
					  <input type="text" name="email" style="width: 50%">
					  <br>
					  Password:<br>
					  <input type="password" name="password" style="width: 50%">
					  <br><br>
					  <input type="submit" value="Submit">
					</form>
					<p style="color:red">{{loginError}}</p>
					<br>
					<br>
					<h2>Sign Up</h2>
					<p style="color:red">{{signUpError}}</p>
					<form action="/createAccount" method="post">
					  <br>
					  Type of User:
					  <br>
					 	<script>
    						$(document).ready(function() {
    							$("#accountTypeOpt input[name='accountType']").click(function(){
    								alert('You clicked radio!');
    								
								});

							});
  						</script>

					  <div id="accountTypeOpt">
						  <div>
							<input type="radio" name="accountType" id="profOpt" value="Professor" >
							<label>Professor</label>
						  </div>
						  <div>
							<input type="radio" name="accountType" id="studentOpt" value="Student" checked>
							<label>Student</label>
						  </div>
						  
					  </div>
			  		  <br><br>
			  		  Name:<br>
					  <input type="text" name="name" style="width: 25%">
					  <br>
					  Email Address:<br>
					  <input type="text" name="email" style="width: 40%">
					  <br>
					  Password:<br>
					  <input type="password" name="password" style="width: 50%">
					  <br>
					  Confirm Password:<br>
					  <input type="password" name="password2" style="width: 50%">
					  <br><br>
					  <input type="submit" value="Submit">
					</form>

				</div>
			</section>

	</body>
		
		
</html>