<!doctype html>
<html>
	<head>
		<script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/init.js') }}"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='css/skel.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style-xlarge.css') }}" />
	</head>
	<script>
	</script>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Cascada</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="generic.html">Generic</a></li>
						<li><a href="elements.html">Elements</a></li>
						<li><a href="#" class="button special">Sign Up</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="courses">
						<h2>Your Courses</h2>
					</header>
					<table>
						<th>
							<td style="font-weight: bold;"> Department </td>
							<td style="font-weight: bold;"> Course Number </td>
							<td style="font-weight: bold;"> Course Name </td>
							<td style="font-weight: bold;"> Description </td>
						</th>
	    				{% for row in classList %}
   							<tr>
   								<td> <input type="checkbox"> </td>
   								<td> {{ row[4] }} </td>
        						<td> {{ row[3] }} </td>
        						<td> {{ row[2] }} </td>
        						<td> {{ row[5] }} </td>
   							</tr>
						{% endfor %}
					</table>
					<header>
						<h2>Your Tasks</h2>
					</header>
					<table>
						<th style="font-weight: bold;">
							<td style="font-weight: bold;">Task Name</td>
							<td style="font-weight: bold;">Due Date</td>
							<td style="font-weight: bold;">Status</td>
						</th>
						{% for row in taskList %}
   							<tr>
   								<td> <input type="checkbox"> </td>
   								<td> {{ row[1] }} </td>
        						<td> {{ row[3] }} </td>
        						<td> {{ row[2] }} </td>
   							</tr>
						{% endfor %}
					</table>
				</div>
			</section>

	</body>
		
		
</html>