<!doctype html>
<html>
	<head>
		<script src="{{url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/skel-layers.min.js') }}"></script>
		<script src="{{url_for('static', filename='js/init.js') }}"></script>
		<link rel="stylesheet" href="{{url_for('static', filename='css/skel.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}" />
		<link rel="stylesheet" href="{{url_for('static', filename='css/style-xlarge.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<h1><a href="/">Cascada</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/message">Messages</a></li>
						<li><a href="elements.html">Elements</a></li>
						<li><a href="/logout" class="button special">Log Out</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="container">
					<header class="courses">
						<h2>Your Courses</h2>
					</header>
					<table>
						<th>
							<td style="font-weight: bold;"> Course Name </td>
							<td style="font-weight: bold;"> Department </td>
							<td style="font-weight: bold;"> Course Number </td>
							<td style="font-weight: bold;"> Description </td>
							<td style="font-weight: bold;"> Drop </td>
							<td style="font-weight: bold;"> View Distribution </td>

						</th>
	    				{% for row in classList %}
   							<tr>
   								<td> <input type="checkbox"> </td>
   								<td> {{ row[2] }} </td>
   								<td> {{ row[4] }} </td>
        						<td> {{ row[3] }} </td>
        						<td> {{ row[5] }} </td>
        						<td>
        							<form method="POST">
										<input type="submit" value="Drop">
										<input type="hidden" name="departmentDrop" value="{{ row[4] }}">
										<input type="hidden" name="courseNumDrop" value="{{ row[3] }}">
									</form>
        						</td>
        						<td>
   									<form action="/chara" method="POST">
   										<input type="submit" value="View Distribution">
   										<input type="hidden" name="courseNumber" value="{{row[3]}}">
   										<input type="hidden" name="departmentName" value="{{row[4]}}">
   									</form>
   								</td>
   							</tr>
						{% endfor %}
					</table>
					<div style="text-align: center">
						<form action="/registration" method="GET">
    						<input type="submit" value="Register for courses">
						</form>
					</div>
					<header>
						<h2>Your Incomplete Tasks</h2>
					</header>
					<table>
						<th style="font-weight: bold;">
							<td style="font-weight: bold;">Task Name</td>
							<td style="font-weight: bold;">Due Date</td>
							<td style="font-weight: bold;">Course Number</td>
							<td style="font-weight: bold;">Department Name</td>
<!-- 							<td style="font-weight: bold;">Status</td>
 -->							<td style="font-weight: bold;"></td>
						</th>
						{% for row in taskList %}
   							<tr>
   								<td> <input type="checkbox"> </td>
   								{% if currDate > row[3] %}
   								    <td style="color:red"><a href="/Assignment/{{ row[1] }}"> {{ row[1] }} </a></td>
        							<td style="color:red"> {{ row[3] }} </td>
        						{% else %}
        						    <td><a href="/Assignment/{{ row[1] }}"> {{ row[1] }} </a></td>
        							<td> {{ row[3] }} </td>
        						{% endif %}
        						<td> {{ row[5] }} </td> 
        						<td> {{ row[6] }} </td> 
        						<td style="width: 20%;">
									<form method="POST">
										<input type="submit" value="Mark As Completed">
										<input type="hidden" name="assignmentName" value="{{ row[1] }}">
										<input type="hidden" name="classNum" value="{{ row[5] }}">
									</form>
								</td>
   							</tr>
						{% endfor %}
					</table>

					<header>
						<h2>Your Completed Tasks</h2>
					</header>
					<table>
						<th style="font-weight: bold;">
							<td style="font-weight: bold;">Task Name</td>
							<td style="font-weight: bold;">Due Date</td>
							<td style="font-weight: bold;">Course Number</td>
							<td style="font-weight: bold;">Department Name</td>
							<td style="font-weight: bold;">Graded</td>
							<td style="font-weight: bold;">Grade</td>
							<td style="font-weight: bold;">Feedback</td>
<!-- 							<td style="font-weight: bold;">Status</td>
 -->						</th>
						{% for row in completeTaskList %}
   							<tr>
   								<td> <input type="checkbox"> </td>
   								<td> <a href="/Assignment/{{ row[0] }}"> {{ row[0] }} </a></td>
        						<td> {{ row[1] }} </td>
        						<td> {{ row[5] }} </td>
        						<td> {{ row[6] }} </td>
        						<td> {{ row[2] }} </td>
        						<td> {{ row[3] }} </td>
        						<td> {{ row[4] }} </td>
<!--         						<td> {{ row[2] }} </td>
 -->   							</tr>
						{% endfor %}
					</table>
					{% with messages = get_flashed_messages() %}
						{% if messages %}
							<ul class=flashes>
								{% for message in messages %}
									<div id="myAlert" style="display: none;">{{ message | safe }}</div>
									<script type="text/javascript">
										window.alert(document.getElementById('myAlert').innerHTML);
									</script>
								{% endfor %}
						    </ul>
						{% endif %}
					{% endwith %}
				</div>
			</section>
	</body>
</html>